
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 142 70% 29%; /* TurfGreen */
    --primary-foreground: 0 0% 100%;
    --secondary: 220 5% 100%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 48 100% 67%;  /* TurfYellow */
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 142 70% 29%; /* TurfGreen */
    --radius: 0.5rem;
  }

  .dark {
    --background: 198 7% 13%; /* TurfBlue */
    --foreground: 0 0% 100%;
    --card: 198 7% 13%; /* TurfBlue */
    --card-foreground: 0 0% 100%;
    --popover: 198 7% 13%; /* TurfBlue */
    --popover-foreground: 0 0% 100%;
    --primary: 51 100% 50%; /* TurfGold */
    --primary-foreground: 198 7% 13%; /* TurfBlue */
    --secondary: 198 7% 18%;
    --secondary-foreground: 0 0% 100%;
    --muted: 198 7% 18%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 142 70% 29%; /* TurfGreen */
    --accent-foreground: 0 0% 100%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 100%;
    --border: 198 7% 18%;
    --input: 198 7% 18%;
    --ring: 51 100% 50%; /* TurfGold */
  }
}

@layer base {
  * {
    @apply border-border;
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

@layer utilities {
  .glass {
    @apply backdrop-blur-md bg-white/10 dark:bg-black/10 border border-white/20 shadow-lg;
  }
  
  .text-glow-light {
    text-shadow: 0 0 10px #FFCA28;
  }
  
  .text-glow-dark {
    text-shadow: 0 0 10px #FFD700;
  }
  
  .content-auto {
    content-visibility: auto;
  }
  
  .light-stadium {
    background-image: url('/football-field-day.webp');
    background-size: cover;
    background-position: center;
  }
  
  .dark-stadium {
    background-image: url('/football-field-night.webp');
    background-size: cover;
    background-position: center;
  }
}
